target
/output
meta
build
/src/external/d4v2/build
/src/external/d4v2/3rdParty/kahypar/build
/src/external/d4v2/3rdParty/patoh
/src/external/d4v2/3rdParty/glucose-3.0/**/*.a
/src/external/d4v2/3rdParty/glucose-3.0/**/*.or